{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <h1 class="reveal" style="text-align: center; font-size: 1.8rem; margin-top: 2.5rem; margin-left: 25rem; margin-right: 25rem;">
        Disover how Cisco powers simple, secure & scalable digital teaching & learning<br>in under a minute...
    </h1>
<section class="video-grid">
    <div class="tile reveal">
        <h2>Deploy Wi-Fi 7 to meet modern digital learning needs (59s)</h2>
        <div class="video-wrapper">
            <video 
                src="{{ url_for('static', filename='videos/wifi-7.mp4') }}"
                muted
                playsinline
                preload="metadata"
                onmouseover="this.play()" 
                onmouseout="this.pause(); this.currentTime = 0;"
                onclick="this.muted=false;this.requestFullscreen();"
                ></video>
            <div class="hover-prompt">Click to watch with sound</div>
        </div>
    </div>
    <div class="tile reveal">
        <h2>Configure switches in bulk and save hours of admin time (36s)</h2>
        <div class="video-wrapper">
            <video 
                src="{{ url_for('static', filename='videos/bulk-switchport.mp4') }}"
                muted
                playsinline
                preload="metadata"
                onmouseover="this.play()" 
                onmouseout="this.pause(); this.currentTime = 0;"
                onclick="this.muted=false;this.requestFullscreen();"
            ></video>
            <div class="hover-prompt">Click to watch with sound</div>
        </div>
    </div>
    <div class="tile reveal">
        <h2>Cut energy costs in a few clicks with switchport schedules (27s)</h2>
        <div class="video-wrapper">
            <video 
                src="{{ url_for('static', filename='videos/port-schedules.mp4') }}"
                muted
                playsinline
                preload="metadata"
                onmouseover="this.play()" 
                onmouseout="this.pause(); this.currentTime = 0;"
                onclick="this.muted=false;this.requestFullscreen();"
            ></video>
            <div class="hover-prompt">Click to watch with sound</div>
        </div>
    </div>
    <div class="tile reveal">
        <h2>Deploy cameras in minutes with plug-and-play MV security (47s)</h2>
        <div class="video-wrapper">
            <video 
                src="{{ url_for('static', filename='videos/mv-plug-play.mp4') }}"
                muted
                playsinline
                preload="metadata"
                onmouseover="this.play()" 
                onmouseout="this.pause(); this.currentTime = 0;"
                onclick="this.muted=false;this.requestFullscreen();"
                ></video>
            <div class="hover-prompt">Click to watch with sound</div>
        </div>
    </div>
    <div class="tile reveal">
        <h2>One sensor with multiple use cases for safer, comfier schools (41s)</h2>
        <div class="video-wrapper">
            <video 
                src="{{ url_for('static', filename='videos/mt15-features.mp4') }}"
                muted
                playsinline
                preload="metadata"
                onmouseover="this.play()" 
                onmouseout="this.pause(); this.currentTime = 0;"
                onclick="this.muted=false;this.requestFullscreen();"
                ></video>
            <div class="hover-prompt">Click to watch with sound</div>
        </div>
    </div>
</section>

<section id="stories" style="margin: 4rem 0;">
    {% include 'stories.html' %}
</section>

<section id="products" style="margin: 4rem 0;">
    {% include 'products.html' %}
</section>

<section id="meet-the-team" style="margin: 4rem 0;"> 
    {% include 'meet-the-team.html' %}
</section>

<section id="trial" style="margin: 4rem 0;">
    {% include 'trial.html' %}
</section>

<section id="dfe" style="margin: 4rem 0;">
    {% include 'dfe.html' %}
</section>

<section id="webinar" style="margin-top: 4rem; margin-bottom: 12rem;">
    {% include 'webinar.html' %}
</section>

{% endblock %}